@import './variables.scss';

.button-bar{
    width:100%;
    height:6rem;
    position:realtive;
    border-top:$main-borders 1px solid;
    .buttons{
        display:flex;
        float:right;
    }
    .btn{
        width:15rem;
        line-height:2rem;
        border:none;
        padding:1rem;
        font-weight:700;
        text-align:center;
        margin:1rem 1rem 0 0;
        cursor:pointer;
    }
    .delete{
        background:$delete;
        transition:background 0.2s ease;
        color:#fff;
        &:hover, &:active{
            background:$delete-hover;
        }
    }
    .save{
        background:$save;
        transition:background 0.2s ease;
        color:#fff;
        &:hover, &:active{
            background:$save-hover;
        }
    }
    .secondary{
        background:none;
        transition:background 0.2s ease;
        &:hover, &:active{
            background:$secondary-hover;
        }
    }
}