.button-bar {
  width: 100%;
  height: 6rem;
  position: realtive;
  border-top: #CFD8DC 1px solid; }
  .button-bar .buttons {
    display: flex;
    float: right; }
  .button-bar .btn {
    width: 15rem;
    line-height: 2rem;
    border: none;
    padding: 1rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem 1rem 0 0;
    cursor: pointer; }
  .button-bar .delete {
    background: #F44336;
    transition: background 0.2s ease;
    color: #fff; }
    .button-bar .delete:hover, .button-bar .delete:active {
      background: #D32F2F; }
  .button-bar .save {
    background: #1E88E5;
    transition: background 0.2s ease;
    color: #fff; }
    .button-bar .save:hover, .button-bar .save:active {
      background: #1565C0; }
  .button-bar .secondary {
    background: none;
    transition: background 0.2s ease; }
    .button-bar .secondary:hover, .button-bar .secondary:active {
      background: #CFD8DC; }
