$roboto: 'Roboto', sans-serif;

$main-text:#263238;
$main-borders:#CFD8DC;
$delete:#F44336;
$delete-hover:#D32F2F;
$save:#1E88E5;
$save-hover:#1565C0;
$secondary-hover:#CFD8DC;
$form-labels:#607D8B;
$card:#fff;
$card-active:#00838F;
$card-active-text:#fff;
$header-background:#006064;
$header-text:#B0BEC5;
$header-text-hover:#fff;
$header-button-hover:#00838F;
$tags:#ECEFF1;
$tags-hover:#CFD8DC;
$left-container-bg:#ECEFF1;